.covid-statistics__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  margin-top: 15px;
}

.covid-statistics__container > a[href="/"] {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #888;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.covid-statistics__container > div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  /* max-width: 800px; */
}

.covid-statistics__container > div > div:first-of-type {
  width: 100%;
  max-width: 300px;
  margin-right: 50px;
}

.covid-statistics__container > div > div:nth-of-type(2) {
  width: calc(100% - 400px);
}

.covid-statistics__header {
  margin-top: 0;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.covid-statistics__header > span {
  text-transform: capitalize;
}
