.covid-statistics__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  margin-top: 15px;
}

.covid-statistics__container > a[href="/"] {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #888;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.covid-statistics__container > div:first-of-type {
  width: 100%;
  max-width: 300px;
  margin: 30px auto;
}

.covid-statistics__header {
  margin-top: 0;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.covid-statistics__header > span {
  text-transform: capitalize;
}

.covid-statistics__list {
  border: 2px solid #dcdcdc;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.covid-statistics__card {
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}

.covid-statistics__card-item {
  padding: 3px;
}

.covid-statistics__card-item > span:first-of-type {
  color: #888;
}
